*{
    font-family: "Poppins", serif;
}
.h-font{
    font-family: "Merienda", serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg{
    background-color: #003b95;
    border: 1px solid #003b95;
}
.custom-bg:hover{
    background-color: #003b95;
    border-color: #003b95;
}